@font-face {
	font-family: "Yekan Bakh";
	src: url("../../assets/fonts/YekanBakh-Regular/YekanBakh-Regular.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Yekan Bakh";
	src: url("../../assets/fonts/YekanBakh-Bold/YekanBakh-Bold.ttf")
		format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Sign Painter";
	src: url("../../assets/fonts/SignPainerHouseScript-Regular/SignPainterHouseScriptRegular.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

// to make the background cover whole page
.background {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
	}
}


.QuestionPage {

    margin: 0;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Yekan Bakh";
	direction: rtl;
    
    header {
        display: flex;
		width: 100%;

        direction: ltr;
    }


	.question-page-main--title {
		width: 100%;
		font-size: 30px;
		font-weight: bold;
		text-align: right;
		text-justify: newspaper;
		display: flex;
		align-items: center;
		justify-content: center;
        height: 100px;
		color: white;
		p {
		 font-size: 80%;
		}
	}

	.main {
		// margin-top: 100px;
		width: 100%;
		// padding-bottom: 150px;
	}
	.question-page-main {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
	}
    
	.question-page-main--options {
		height: fit-content;
        width: 100%;
	}

	.question-page-main--button {
		border: none;
		display: flex;
		padding: 15px;
		margin: 5px;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		min-width: 60px;
		height: fit-content;
		background: #df5e88;
		font-size: 1.5rem;
		font-weight: bold;
        color: white;
        outline: none;
    }
    
    .question-page-main--button.active {
        background: #c42359;
    }

	footer {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		bottom: 0;
		width: 100%;
        height: 130px;
        color: #e3e3e3;
    }
    
    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img {
            width: 100px;
            height: 40px;
        }
    }
	.question-page-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		bottom: 0;
		width: 100%;
		height: 90px;
	}

	.footer-header {
		font-size: 25px;
		color: #e3e3e3;
	}

	.footer--subtile {
		font-size: 15px;
		color: #e3e3e3;
	}

	.footer-header {
		display: flex;
		margin-bottom: 5px;
	}

	.footer-header--title--logo {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Sign Painter";
		margin: 0 10px 0 0;
		border: none;
		border-radius: 10px;
		border-top-left-radius: 20px;
		width: 73px;
		height: 38px;
		background: rgb(184, 59, 94);
		background: linear-gradient(
			360deg,
			rgba(184, 59, 94, 1) 0%,
			rgba(239, 137, 93, 1) 100%
		);
	}
}
